.u-section-1 .u-sheet-1 {
  min-height: 84px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 6px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 650px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 543px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-image-1 {
  min-height: 542px;
  background-image: url("images/wide.jpg");
  background-position: 47.53% 98.18%;
  background-size: auto 145%;
}

.u-section-2 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 542px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-2 .u-image-1 {
    min-height: 447px;
    z-index: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
    z-index: 2;
    min-height: 447px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-image-1 {
    min-height: 731px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-2 .u-image-1 {
    min-height: 513px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 67px;
  }

  .u-section-2 .u-image-1 {
    min-height: 323px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 449px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 449px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 449px;
}

.u-section-3 .u-container-layout-2 {
  padding: 25px 0;
}

.u-section-3 .u-video-1 {
  height: 337px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    z-index: 2;
    min-height: 370px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 47.26% 0%;
    z-index: 0;
    background-size: auto 145%;
    min-height: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 425px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 67px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 268px;
  }
}