 .u-section-1 {
  min-height: 696px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 67px 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-1 .u-container-layout-1 {
  padding: 3px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 180px 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: none;
  margin: 11px 30px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 28px auto 0 30px;
  padding: 20px 47px 20px 46px;
}

.u-section-1 .u-group-elements-1 {
  width: 166px;
  min-height: 41px;
  margin: 28px auto 0 30px;
}

.u-section-1 .u-image-1 {
  width: 41px;
  height: 41px;
  margin: 0 auto 0 62px;
}

.u-section-1 .u-image-2 {
  width: 41px;
  height: 41px;
  margin: -41px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 41px;
  height: 41px;
  margin: -41px auto 0 0;
}

.u-section-1 .u-image-4 {
  min-height: 629px;
  background-image: url("images/profile.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 28px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 943px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    min-height: 519px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1829px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 150px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-4 {
    min-height: 608px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1768px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 50px;
  }

  .u-section-1 .u-image-4 {
    min-height: 479px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 503px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-4 {
    min-height: 346px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 758px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 424px;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px;
}

.u-section-2 .u-shape-1 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 450px;
  min-height: 167px;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 13px;
}

.u-section-2 .u-shape-2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 450px;
  min-height: 167px;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 13px;
}

.u-section-2 .u-shape-3 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 450px;
  min-height: 167px;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-style: italic;
  margin: 21px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 13px;
}

.u-section-2 .u-shape-4 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 450px;
  min-height: 167px;
  margin: -50px auto 0 80px;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-style: italic;
  margin: 21px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-1 {
    width: 348px;
    margin-left: 84px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 348px;
    margin-left: 84px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 348px;
    margin-left: 84px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 0;
    padding-left: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 348px;
    margin-left: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 519px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-1 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-2 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-3 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 13px;
  }

  .u-section-2 .u-group-4 {
    width: 251px;
    min-height: 203px;
    margin-right: 0;
    margin-bottom: -36px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 830px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-1 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 0;
  }

  .u-section-2 .u-group-2 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 0;
  }

  .u-section-2 .u-group-3 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 0;
  }

  .u-section-2 .u-group-4 {
    width: 449px;
    min-height: 160px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-3 {
    width: 330px;
    margin-top: 20px;
  }

  .u-section-2 .u-group-4 {
    width: 330px;
    margin-top: 20px;
  }
} .u-section-3 {
  background-image: url("images/IMG-2907.JPG");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 678px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 570px;
  margin: 98px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 135px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0 0;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 223px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 24px 0;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 223px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 24px 0;
}

.u-section-3 .u-text-4 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 502px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 132px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 237px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 402px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 352px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 64.3% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 200px;
    margin-top: 17px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 137px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 180px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 685px;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 60px auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 625px;
  background-image: url("images/FullSizeRender.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 19px 0 20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 575px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-image-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 515px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 877px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-image-1 {
    min-height: 539px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 698px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-image-1 {
    min-height: 609px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 499px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-image-1 {
    min-height: 357px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
  }
}